.DS_Store
encrypted/Total_DNNmodels/DNNmodels_8_c/*.csv
encrypted/Total_DNNmodels/DNNmodels_16_c/*.csv
encrypted/Total_DNNmodels/DNNmodels_24_c/*.csv
encrypted/Total_DNNmodels/DNNmodels_32_c/*.csv
encrypted/Total_DNNmodels/DNNmodels_40_c/*.csv
encrypted/Total_DNNmodels/DNNmodels_48_c/*.csv
encrypted/Total_DNNmodels/DNNmodels_56_c/*.csv
encrypted/Total_DNNmodels/DNNmodels_64_c/*.csv
encrypted/Total_DNNmodels/DNNmodels_72_c/*.csv
encrypted/EUR_DNNmodels/DNNmodels_40_c/*.csv
encrypted/AMR_DNNmodels/DNNmodels_40_c/*.csv
encrypted/AFR_DNNmodels/DNNmodels_40_c/*.csv
/ModHEaaN/lib/libHEAAN.so
*.json
*.cmake
CMakeCache.txt
Makefile
CMakeFiles/**
Key2/**
enc_impute
Key/**
plain/data_mod/AFR_mod
plain/data_mod/AMR_mod
plain/data_mod/EUR_mod
plain/data_mod/*.txt
data_origin/population
data_origin/README
data_origin/sample_ids.list
data_origin/*.txt
encrypted/impute_dnn/sk.txt
encrypted/impute_dnn/*.csv
